/*Responsive design*/

* {
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1860px) {
    .trip-list {
      margin-left: 40px;
        width: 90%;
        padding-left: 3%;
      }
      
      .trip-list > li {
        margin: 0px 20px 0px 0px;
        width: 45%;
      }
      .navbar {
        height:300px;
        background-image: url(img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
      }

   
  
      input, textarea,#js-place-name{
        position: relative;
        font-size: 18px;
        width: 90%;
      }

  }
  
  @media screen and (max-width: 1665px) {
    .popup-overlay-new-trip,
    .popup-overlay-view-addPlaceForm,
    .popup-overlay-upd-trip,
    .popup-overlay-view-content,
    .popup-overlay-add-place,
    .popup-overlay-view-fullTrip,
    .popup-content-view-oneMorePlace
    {
      width: 30%;
    }
    input, textarea, #js-place-name{
      position: relative;
      font-size: 18px;
      width: 90%;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .trip-list {
      margin-left: 50px;
    }
    .trip-list > li {
      margin: 0px 20px 0px 0px;
      width: 80%;
    }
  }

  @media screen and (max-width: 1130px) {
    .popup-overlay-new-trip,
    .popup-overlay-view-addPlaceForm,
    .popup-overlay-upd-trip,
    .popup-overlay-view-content,
    .popup-overlay-add-place,
    .popup-overlay-view-fullTrip,
    .popup-content-view-oneMorePlace {
      width: 40%;
    }
    input, textarea, #js-place-name{
      position: relative;
      font-size: 18px;
      width: 90%
    }
    .trip-controls img{
      width: 28px !important;
      height: 28px !important;
     }
  }
  
  @media screen and (max-width: 998px) {
  
    .navbar .welcome_message {
      padding-top: 5%;
      font-size: 28px;
     }

     #js-trip-item-add,
     #addPlace{
      width: 100px;
   }
  }
  
  @media screen and (max-width: 830px) {

    h4{
      font-size: 20px;
    }
    .popup-overlay-new-trip,
    .popup-overlay-view-addPlaceForm,
    .popup-overlay-upd-trip,
    .popup-overlay-view-content,
    .popup-overlay-add-place,
    .popup-overlay-view-fullTrip,
    .popup-content-view-oneMorePlace {
      width: 50%;
    }
    input, textarea, #js-place-name{
      position: relative;
      font-size: 18px;
      width: 90%;
    }
    .trip-list {
      margin-left: 30px;
    }
    .trip-title p{
      font-size: 16px;
      margin-bottom: 15px;
    }
    .trip-list > li {
      margin: 0px 20px 0px 0px;
      width: 90%;
    }
  }
  
  @media screen and (max-width: 769px) {
   .info, #map{
     width: 50%;
   }

   .trip-controls img{
    width: 22px !important;
    height: 22px !important;
   }

   .trip-list {
    margin-left: 40px;
  }

  .trip-title p{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .trip-list > li {
    margin: 0px 20px 0px 0px;
    width: 80%;
  }
   
  .navbar .welcome_message {
    padding-top: 8%;
    font-size: 28px;
   }

   #js-trip-item-add, #js-trip-exit{
    font-size: 13px;
     width: 100px;
   }

   input[type="text"], textarea
   {
       width: 90%;
     }
    
  
  }

  @media screen and (max-width: 690px) {
    h4{
      font-size: 19px;
    }
    .popup-overlay-new-trip,
    .popup-overlay-view-addPlaceForm,
    .popup-overlay-upd-trip,
    .popup-overlay-view-content,
    .popup-overlay-add-place,
    .popup-overlay-view-fullTrip,
    .popup-content-view-oneMorePlace
    {
      width: 65%;
    }
    input, textarea, #js-place-name{
      position: relative;
      font-size: 18px;
      width: 100%;
    }
    .button{
      font-size: 12px !important;
      width: 100px !important;
    }
    .popup-overlay-view-fullTrip{
      font-size: 14px;
    }
    
  }

  @media screen and (max-width: 520px) {
    .popup-overlay-new-trip,
    .popup-overlay-view-addPlaceForm,
    .popup-overlay-upd-trip,
    .popup-overlay-view-content,
    .popup-overlay-add-place,
    .popup-overlay-view-fullTrip,
    .popup-content-view-oneMorePlace
    {
      width: 85%;
    }
    input, textarea, #js-place-name{
      position: relative;
      font-size: 18px;
      width: 100%;
    }
    .button{
      font-size: 12px !important;
      width: 100px !important;
    }
    .popup-overlay-view-fullTrip{
      font-size: 14px;
    }
  
    
  }
  
  @media screen and (max-width: 500px) {

    h4{
      font-size: 18px;
    }
    #js-trip-item-add,
    #addPlace{
     width: 100px;
    }

    .trip-title p{

      font-size: 14px;
      margin-bottom: 15px;
    }

    input, textarea, #js-place-name{
      position: relative;
      font-size: 14px;
      width: 100%;
    }
    .info, #map{
      width: 100%;
    }
 
    .trip-list {
     margin-left: 10px;
   }
 
   .trip-title p{
     font-size: 16px;
     margin-bottom: 15px;
   }

   .trip-list > li {
    margin: 0px 20px 0px 0px;
    width: 100%;
  }

  .trip-title{
    min-width: 155px;
  }

  .navbar .welcome_message {
    padding-top: 25%;
    font-size: 20px;
   }


}

 @media screen and (max-width: 453px) {
  .info, #map{
    width: 100%;
  }

  .trip-list {
   margin-left: 13px;
 }

 .trip-title p{
   font-size: 16px;
   margin-bottom: 15px;
 }

 .trip-list > li {
  margin: 0px 20px 0px 0px;
  width: 100%;
}



.navbar .welcome_message {
  padding-top: 20%;
  font-size: 23px;
 }



 .popup-overlay-new-trip,
  .popup-overlay-view-addPlaceForm,
  .popup-overlay-upd-trip,
  .popup-overlay-view-content,
  .popup-overlay-add-place,
  .popup-overlay-view-fullTrip,
  .popup-content-view-oneMorePlace
  {
    width: 90%;
    margin: 0%;
  }

  input[type="text"]
  {
      font-size:14px;
      height: 30px; 
      padding: 7px 7px 7px 7px;
      width: 90%;
    }

  #js-upd-trip-form div{
    margin-bottom: 10px;
  }

  .trip-title{
    margin-left: -5px;
  }
  textarea, #js-place-name{
    font-size: 14px;
    width: 100%;
  }

 .trip-title p{
   font-size: 11px;
   margin-bottom: 15px;
 }

.navbar .welcome_message {
  padding-top: 25%;
  font-size: 20px;
 }

h2{
  font-size: 20px;
}
  .button{
    font-size: 12px !important;
    width: 100px !important;
  }
   
    
}

@media screen and (max-width: 400px) {

  .popup-overlay-new-trip,
  .popup-overlay-view-addPlaceForm,
  .popup-overlay-upd-trip,
  .popup-overlay-view-content,
  .popup-overlay-add-place,
  .popup-overlay-view-fullTrip,
  .popup-content-view-oneMorePlace
  {
    width: 90%;
    margin: 0%;
  }

  .popup-overlay-view-fullTrip{
    font-size: 14px;
  }

  input[type="text"]
  {
      font-size:14px;
      height: 30px; 
      padding: 7px 7px 7px 7px;
  }

  #js-upd-trip-form div{
    margin-bottom: 10px;
  }

  .trip-title{
    margin-left: -5px;
  }
  textarea, #js-place-name{
    font-size: 14px;
    width: 90%;
  }

 .trip-title p{
   font-size: 11px;
   margin-bottom: 15px;
 }

.navbar .welcome_message {
  padding-top: 25%;
  font-size: 20px;
 }

h2{
  font-size: 20px;
}
  .button{
    font-size: 12px !important;
    width: 100px !important;
  }
    
}
