body * {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.box-parent {
  box-sizing: border-box;
}

.navbar {
  box-sizing: border-box;
  border: 3px solid #ccc;
  margin-bottom: 5px;
  background-color: yellow;
}

.navbar::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

#map {
  float: left;
  height: 790px;
  width: 50%;
 
}

.info {
  border: 3px solid #ccc;
  float: left;
  display: block;
  box-sizing: border-box;
  width: 49.5%;
  height: 790px;
  background-color: lightgreen;
  position: relative
}

.add_trip {
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar .logo {
  margin: 5px 10px 5px 7px;
  background-color: lightgreen;
  float: left;
  padding: 0px;
  float: left;
  width: 33%;
  text-align: center;
}

.navbar .welcome_message {
  margin: 5px 10px 5px 0px;
  float: left;
  text-align: center;
  width: 32%;
  background-color: lightgreen;
}

.auth {
  margin: 5px 10px 5px 0px;
  float: left;
  width: 32%;
  margin-right: 0px;
  background-color: lightgreen;
  text-align: center;
}

.trip-list {
  list-style: none;
  padding-left: 0;
  width: 90%;
  padding-left: 5%;
}

.trip-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.trip-title p{
  display: inline;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

button:hover {
  cursor: pointer;
}

.trip-title{
  border: 1px solid black;
}

.trip-title:hover {
  cursor: pointer;
  background: lightskyblue;
}



