.popup-overlay.active {
  visibility: visible;
  text-align: center;
}
.popup-content.active {
  visibility: visible;
}

.popup-content {
  visibility: hidden;
}

.box-parent.inactive {
  pointer-events: none;
  opacity: 0.5;
  background: lightgreen;
}

.popup-overlay {
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  border: 3px solid #73AD21;
  padding: 0px;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
}
