.popup-overlay-new-trip.active {
  visibility: visible;
  text-align: center;
}
.popup-overlay-upd-trip.active {
  visibility: visible;
  text-align: center;
}
.popup-overlay-add-place.active {
  visibility: visible;
  text-align: center;
}


.popup-content-new-trip.active {
  visibility: visible;
}
.popup-content-upd-trip.active {
  visibility: visible;
}
.popup-content-add-place.active {
  visibility: visible;
}



.popup-content-new-trip {
  visibility: hidden;
}
.popup-content-upd-trip {
  visibility: hidden;
}
.popup-content-add-place {
  visibility: hidden;
}




.box-parent.inactive {
  pointer-events: none;
  opacity: 0.5;
  background: lightgreen;
}

.popup-overlay-new-trip {
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  border: 3px solid #73AD21;
  padding: 0px;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
}

.popup-overlay-upd-trip {
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  border: 3px solid #73AD21;
  padding: 0px;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
}

.popup-overlay-add-place {
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  border: 3px solid #73AD21;
  padding: 0px;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
}

#js-new-name,#js-new-location,#js-new-dates, #js-new-textArea{
  width: 400px;
}

#js-upd-name,#js-upd-location,#js-upd-dates, #js-upd-textArea{
  width: 400px;
}
#js-place-name{
  width: 400px;
  margin-bottom: 10px;
}
